services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "${APP_PORT:-9092}:9092"
    command: ["python", "src/main_kafka.py"]
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - qdrant
      - redis
    # restart: unless-stopped

  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_storage:/qdrant/storage
    # restart: unless-stopped

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    # restart: unless-stopped

volumes:
  qdrant_storage:
  redis_data:

