# ============== Chat settings ==============
MEMORY_SEARCH_TOP_K=5
MEMORY_SEARCH_SCORE_THRESHOLD=0.35
MEMORY_CONTEXT_MAX_CHARS=2000
MEMORY_DEFAULT_USER_ID=matek
MEMORY_DEFAULT_SESSION_ID=default_session
MEMORY_TOP_K_LAST_MESSAGES=5


# ============== Redis settings ==============
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
CHAT_HISTORY_WINDOW_SIZE=10


# ============== Chat with llm (main completion) ==============
# supported providers: deepseek, openai
CHAT_LLM_PROVIDER=openai

CHAT_LLM_TEMPERATURE=0.2
CHAT_LLM_MAX_TOKENS=2000
CHAT_LLM_TOP_P=1.0

# openai needed variables
OPENAI_API_KEY=replace_me
CHAT_LLM_OPENAI_MODEL=gpt-4.1-nano-2025-04-14

# deepseek needed variables
# CHAT_LLM_API_KEY=replace_me


# ============== Memory Vector Database ==============
QDRANT_HOST=qdrant
QDRANT_PORT=6333
QDRANT_COLLECTION=test-gadalka
QDRANT_EMBEDDING_DIMS=1536


# ============== Memory LLM ==============
# supported providers: deepseek, openai
MEMORY_LLM_PROVIDER=openai

MEMORY_LLM_TEMPERATURE=0.2
MEMORY_LLM_MAX_TOKENS=2000
MEMORY_LLM_TOP_P=1.0

# openai needed variables
MEMORY_LLM_OPENAI_MODEL=gpt-4.1-nano-2025-04-14

# deepseek needed variables
#DEEPSEEK_API_KEY=replace_me


# ============== Memory Embeddings ==============
# supported providers: tei, openai
MEMORY_EMBEDDINGS_PROVIDER=openai
# IF openai:
MEMORY_LLM_EMBEDDINGS_MODEL=text-embedding-3-large

# IF TEI:
#TEI_EMBEDDING_MODEL_URL=http://localhost:8080


# ============== Memory Reranker ==============
# supported providers: deepseek, openai
MEMORY_RERANKER_PROVIDER=openai

# IF OPENAI
MEMORY_LLM_RERANKER_MODEL=gpt-4.1-nano-2025-04-14

# IF DEEPSEEK
#RERANKER_API_KEY=replace_me
